{% extends "news/base.html" %}

{% block titleBlock %}
文章详情页
{% endblock %}

{% block scriptBlock %}
<script type="text/javascript" src="../../static/news/js/detail.js"></script>
{% endblock %}

{% block categoryBlock %}
{% endblock %}

{% block contentBlock %}
<div class="detail_con fl">
    <h3>{{ data.news.title }}</h3>
    <div class="detail_about clearfix">
        <span class="time_souce fl">{{ data.news.create_time }} 来源: {{ data.news.source }}</span>
        <span class="comment fr">{{ data.news.comments_count }}</span>
    </div>
    {{ data.news.content | safe }}

    <a href="javascript:;" class="collection block-center">收藏</a>
    <a href="javascript:;" class="collected block-center" style="display: none"><span class="out">已收藏</span><span class="over">取消收藏</span></a>


    {% if data.user %}
        <form action="" class="comment_form" data-newsid="{{ data.news.id }}">
            <div class="person_pic">
                <img src="{% if data.user.avatar_url %}
                    {{ data.user.avatar_url }}
                {% else %}
                    ../../static/news/images/person01.png
                {% endif %}" alt="用户图标">
            </div>
            <textarea placeholder="请发表您的评论" class="comment_input"></textarea>
            <input type="submit" name="" value="评 论" class="comment_sub">
        </form>
    {% else %}
        <div class="comment_form_logout">
            登录发表你的评论
        </div>
    {% endif %}
    <div class="comment_count">
        {{ data.news.comments_count }}条评论
    </div>

        <div class="comment_list_con">
            <div class="comment_list">
                <div class="person_pic fl">
                    <img src="../../static/news/images/worm.jpg" alt="用户图标">
                </div>
                <div class="user_name fl">用户张山</div>
                <div class="comment_text fl">
                    遏制茅台酒价格过快上涨，多渠道供给，就不一定要买，租茅台酒也可以的，租售同权。开发共有产权茅台酒，让老百姓喝得起茅台酒，饮者有其酒。
                </div>
                <div class="reply_text_con fl">
                    <div class="user_name2">用户李思</div>
                    <div class="reply_text">
                        遏制茅台酒价格过快上涨，多渠道供给，就不一定要买，租茅台酒也可以的，租售同权。开发共有产权茅台酒，让老百姓喝得起茅台酒，饮者有其酒。
                    </div>
                </div>
                <div class="comment_time fl">2017-01-01 00:00:00</div>
                <a href="javascript:;" class="comment_up has_comment_up fr">1</a>
                <a href="javascript:;" class="comment_reply fr">回复</a>
                <from class="reply_form fl">
                    <textarea  class="reply_input"></textarea>
                    <input type="submit" name="" value="回复" class="reply_sub fr">
                    <input type="reset" name="" value="取消" class="reply_cancel fr">
                </from>
            </div>

            <div class="comment_list">
                <div class="person_pic fl">
                    <img src="../../static/news/images/worm.jpg" alt="用户图标">
                </div>
                <div class="user_name fl">用户张山</div>
                <div class="comment_text fl">
                    遏制茅台酒价格过快上涨，多渠道供给，就不一定要买，租茅台酒也可以的，租售同权。开发共有产权茅台酒，让老百姓喝得起茅台酒，饮者有其酒。
                </div>
                <div class="comment_time fl">2017-01-01 00:00:00</div>
                <a href="javascript:;" class="comment_up fr">赞</a>
                <a href="javascript:;" class="comment_reply fr">回复</a>
                <from class="reply_form fl">
                    <textarea  class="reply_input"></textarea>
                    <input type="submit" name="" value="回复" class="reply_sub fr">
                    <input type="reset" name="" value="取消" class="reply_cancel fr">
                </from>
            </div>

            <div class="comment_list">
                <div class="person_pic fl">
                    <img src="../../static/news/images/worm.jpg" alt="用户图标">
                </div>
                <div class="user_name fl">用户张山</div>
                <div class="comment_text fl">
                    遏制茅台酒价格过快上涨，多渠道供给，就不一定要买，租茅台酒也可以的，租售同权。开发共有产权茅台酒，让老百姓喝得起茅台酒，饮者有其酒。
                </div>
                <div class="comment_time fl">2017-01-01 00:00:00</div>
                <a href="javascript:;" class="comment_up fr">赞</a>
                <a href="javascript:;" class="comment_reply fr">回复</a>
                <from class="reply_form fl">
                    <textarea  class="reply_input"></textarea>
                    <input type="submit" name="" value="回复" class="reply_sub fr">
                    <input type="reset" name="" value="取消" class="reply_cancel fr">
                </from>
            </div>

            <div class="comment_list">
                <div class="person_pic fl">
                    <img src="../../static/news/images/worm.jpg" alt="用户图标">
                </div>
                <div class="user_name fl">用户张山</div>
                <div class="comment_text fl">
                    遏制茅台酒价格过快上涨，多渠道供给，就不一定要买，租茅台酒也可以的，租售同权。开发共有产权茅台酒，让老百姓喝得起茅台酒，饮者有其酒。
                </div>
                <div class="comment_time fl">2017-01-01 00:00:00</div>
                <a href="javascript:;" class="comment_up fr">赞</a>
                <a href="javascript:;" class="comment_reply fr">回复</a>
                <from class="reply_form fl">
                    <textarea  class="reply_input"></textarea>
                    <input type="submit" name="" value="回复" class="reply_sub fr">
                    <input type="reset" name="" value="取消" class="reply_cancel fr">
                </from>
            </div>
        </div>


        </div>
{% endblock %}

{% block authorBlock %}
<div class="author_card">
    <a href="#" class="author_pic"><img src="../../static/news/images/user_pic.png" alt="author_pic"></a>
    <a href="#" class="author_name">张大山</a>
    <div class="author_resume">张大山的简介,张大山</div>
    <div class="writings"><span>总篇数</span><b>23</b></div>
    <div class="follows"><span>粉丝</span><b>36</b></div>
    <a href="javascript:;" class="focus fr">关注</a>
    <a href="javascript:;" class="focused fr"><span class="out">已关注</span><span class="over">取消关注</span></a>
</div>
{% endblock %}